In [50]:
import pandas as pd

In [ ]:
data = {
    'fname':['Ali', 'Arezoo'],
    'lname':['Talebi', 'Alipour'],
    'std_num':[444, 333]
}
data_pd = pd.DataFrame(data)

new_data = {'fname': 'Ramin', 'lname': 'Panahi', 'std_num': 222}
data_pd = data_pd._append(new_data, ignore_index=True)
print(data_pd.shape)#(3, 3)
print()
print(data_pd)

In [ ]:
data = {
    'fname':['Ali', 'Arezoo'],
    'lname':['Talebi', 'Alipour'],
    'std_num':[444, 333]
}
data_pd = pd.DataFrame(data)
data_pd.loc[len(data_pd)] = ['Reza', 'Habibi', 111]
print(data_pd)

In [31]:
print(data_pd)

    fname    lname  std_num
0     Ali   Talebi      222
1  Arezoo  Alipour      333
2   Ramin   Panahi      444
3    Reza   Habibi      111

In [ ]:
data = {
    'fname':['Ali', 'Arezoo'],
    'lname':['Talebi', 'Alipour'],
    'std_num':[444, 333]
}
data_pd = pd.DataFrame(data)
data_pd.loc[len(data_pd)] = ['Reza', 'Habibi', 111]

data_pd.sort_values(by='std_num', inplace=True)

print(data_pd.iloc[0])

In [56]:
data_pd.to_csv('output.csv', index=False)

In [ ]:
import csv

new_row = ['Mohammad', 'Moniri', 555]

with open('output.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(new_row)

In [58]:
fdata_pd = pd.read_csv('output.csv')

In [71]:
fdata_pd.sort_values(by='std_num', inplace=True)

In [76]:
print(fdata_pd)

      fname    lname  std_num
3      Reza   Habibi      111
2     Ramin   Panahi      222
1    Arezoo  Alipour      333
0       Ali   Talebi      444
4  Mohammad   Moniri      555

In [73]:
fdata_pd.at[3,'std_num'] = 1111

In [ ]:
print(fdata_pd)

In [75]:
fdata_pd.iat[0, 2] = 111

In [ ]:
print(fdata_pd)