In [1]:
import pandas as pd

In [22]:
import pandas as pd

df = pd.DataFrame(columns=['fname', 'lname', 'std_id', 'age', 'sex'])
df.loc[0] = ['Ali', 'Mahmoodi', 555, 22, 'M']
df.loc[1] = ['Samira', 'Sadeghi', 333, 23, 'F']
df.loc[2] = ['Parisa', 'Alivand', 666, None, 'F']
df.loc[3] = ['Armin', 'Vahedi', 111, 24, 'M']
df.loc[4] = ['Reza', 'Yasi', 222, 27, 'M']
df.loc[5] = ['Hassan', 'Bahadori', 444, None, 'M']

print(df['age'].mean())
print(df['fname'].count())

24.0
6

In [23]:
df[df['age'].isna() & (df['sex'] == 'M') ]['age'] = df[df['sex'] == 'M']['age'].mean()

C:\Users\ov-laptop\AppData\Local\Temp\ipykernel_7180\962380233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['age'].isna() & (df['sex'] == 'M') ]['age'] = df[df['sex'] == 'M']['age'].mean()

In [25]:
df.loc[df['age'].isna() & (df['sex'] == 'M'), 'age'] = df[df['sex'] == 'M']['age'].mean()

In [26]:
df

    fname     lname  std_id        age sex
0     Ali  Mahmoodi     555         22   M
1  Samira   Sadeghi     333         23   F
2  Parisa   Alivand     666       None   F
3   Armin    Vahedi     111         24   M
4    Reza      Yasi     222         27   M
5  Hassan  Bahadori     444  24.333333   M

In [27]:
iris_data = pd.read_csv('iris.csv')

In [33]:
iris_data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [34]:
from sklearn.cluster import KMeans

X = iris_data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]

kmeans = KMeans(n_clusters=3, random_state=42)
iris_data['cluster'] = kmeans.fit_predict(X)

In [35]:
kmeans.cluster_centers_

array([[6.85384615, 3.07692308, 5.71538462, 2.05384615],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.88360656, 2.74098361, 4.38852459, 1.43442623]])

In [37]:
kmeans.cluster_centers_[0]

array([6.85384615, 3.07692308, 5.71538462, 2.05384615])

In [36]:
kmeans.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2])

In [38]:
import pandas as pd
from sklearn.cluster import KMeans

# Load the Iris data from the CSV file
df = pd.read_csv("iris.csv")

# Prepare the data for clustering
X = df[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]

# Apply K-Means clustering
kmeans = KMeans(n_clusters=3, random_state=42)
df['cluster'] = kmeans.fit_predict(X)

# Map clusters to actual labels based on majority voting
label_mapping = (
    df.groupby('cluster')['variety']
    .apply(lambda x: x.value_counts().idxmax())
    .to_dict()
)

# Reassign clusters based on the mapping
df['predicted_label'] = df['cluster'].map(label_mapping)

df.to_csv('data.csv')

# Count mismatched samples
mismatched_samples = (df['predicted_label'] != df['variety']).sum()

print(f"Number of samples not in the correct cluster: {mismatched_samples}")

Number of samples not in the correct cluster: 17